.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 10px;
}

.project_column__img {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-right: 30px;
}

.project_column__img img{
    width: 100%;
}

.project_column {
    border: 1px solid #dddddd;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.project_column__explane {
    border: 1px solid #dddddd;
}

.project_tag {
    display: flex;
}

.project_tag__column {
    background-color: #a68ae0;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.project_tag__column:first-child{
    margin-right: 5px;
}