.skill_column_box_img {
    width: 90px;
    height: 115px;
}

.skill_column_box_skill img {
    width: 100%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    padding: 70px 20px;
}

.skill_box {
    display: flex;
    margin-top: 10px;
}

.skill_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.skill_column_box {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px;
}

.skill_column_box_skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill_column_box_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_column:first-child{
    margin-right: 15px;
}

.skill_column_box .skill_column_box_skill:first-child {
    margin-right: 13px;
}

.skill_column_box .skill_column_box_skill:nth-child(2) {
    margin-right: 13px;
}